.manager {
    min-height: 342px;
    background: url(../../img/baggraund3.jpg) center no-repeat;
    // padding: 35px 0 76px 0;
    text-align: center;
    img {
        margin-top: 58px;
    }
    p {
        font-size: 19px;
        font-weight: 300;
        color: #ffffff;
    }
}